.messages-page {
    margin-top: 7em;
}

.chat-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#send-field {
    padding: 0.5em;
    width: 40%;
}

#send-button {
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    background: #FBCE76;
    border: 1px solid #000;
    color: #000;
    padding: 0.5em;
    border-radius: 10px;
}

#send-button:hover {
    background: #fff;
}

.messages {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#p {
    margin-top: -0.5em;
}