body {
    margin: 0px;
}

.navbar nav {
    background: #FBCE76;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1em 0em 1em 0em;
}

#left {
    margin-left: 1em;
}

#right {
    margin-right: 1em;
}

