body {
    margin: 0px;
}

.navbar nav {
    background: #FBCE76;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1em 0em 1em 0em;
}

#left {
    margin-left: 1em;
}

#right {
    margin-right: 1em;
}

#logo {
    margin-right: 6em;
}

.link {
    padding: 0.5em;
}

#left-reg {
    margin-left: 1em;
    align-content: center;
}

#middle-reg {
    margin-right: 1em;
}

#right-reg {
    margin-right: 1em;
}