.login-page {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #f8f9fd;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

button[type="register"] {
    width: 100px;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #FBCE76;
    border: 1px solid #000;
    color: #000;
    padding: 10px 20px;
    border-radius: 10px;
}

    button[type="register"]:hover {
        background: #fff;
    }

.space {
    width: 10px;
    height: auto;
    display: inline-block;
}

input[type="submit"] {
    width: 100px;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #FBCE76;
    border: 1px solid #000;
    color: #000;
    padding: 10px 20px;
    border-radius: 10px;
}

    input[type="submit"]:hover {
        background: #fff;
    }

.button-container {
    display: flex;
    justify-content: center;
}

.login-page {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
    display: flex;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.error {
    color: red;
    font-size: 12px;
}

.title {
    font-size: 25px;
    margin-bottom: 20px;
}

.input-container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px;
}